# These were just the latest versions at the time of development, 
# so we haven't tested more recent versions which may or may not "just work".
Django==3.2.3
ortools==9.0.9048
django-bootstrap-icons==0.6.0
