{% extends 'base_with_general_nav.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block content %}

{% comment %} https://getbootstrap.com/docs/5.0/components/accordion/  {% endcomment %}
<div class="opret_t">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAssignmentModal">Opret ny Tildeling</button>
</div>

<div class="accordion card-body" id="accordionExample">

  {% for assignment, progress in assignments|zip:progresses %}

  <div class="accordion-item col-lg-11 mx-auto">
    <h2 class="accordion-header" id="headingOne">
      {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an<id> below. {% endcomment %}
      <button class="accordion-button {% if forloop.counter0 != 0%} collapsed {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#a{{ assignment.id  }}"
                                                                               aria-expanded="false"
                                                                               aria-controls="a{{ assignment.id }}">
        {{ assignment.name }}
      </button>
    </h2>
    <div id="a{{ assignment.id }}" class="accordion-collapse collapse {% if forloop.counter0 == 0%} show {% endif %}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <!--<p>TODO: Status for om elever, kurser, kriterier osv. er oprettet, som progress bar</p>-->
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{progress}}%;"
                                                       aria-valuenow="{{progress}}"
                                                                                     aria-valuemin="0"
                                                                                     aria-valuemax="100">{{progress}}%</div>
        </div>
        <br/>
        <p style="text-align: center;"><a class="btn btn-primary" href="{% url 'assignment' assignment.id %}">Gå til tildeling</a></p>
      </div>
    </div>
  </div>

  {% endfor %}

  <!-- Add Assignment Modal -->
  <div class="modal fade" id="addAssignmentModal" tabindex="-1" aria-labelledby="addAssignmentModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAssignmentModalLabel">Opret Tildeling</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <form method="post" accept-charset="utf-8">
  
          {% csrf_token %}
  
          <div class="modal-body">
            {{assignmentForm|crispy}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
            <input type="submit" value="Gem Tildeling" name="add-assignment" class="btn btn-primary">
          </div>
        </form>
  
      </div>
    </div>
  </div>

</div>

{% endblock %}
