{% extends 'base.html' %}

{% block content %}

{% comment %} https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior {% endcomment %}

<h1 class="display-6">{{ assignment.name }}</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tildeling-tab" data-bs-toggle="tab" data-bs-target="#tildeling" type="button" role="tab"
      aria-controls="tildeling" aria-selected="true">Tildeling</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="valgfag-tab" data-bs-toggle="tab" data-bs-target="#valgfag" type="button" role="tab"
      aria-controls="valgfag" aria-selected="false">Valgfag</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="elever-tab" data-bs-toggle="tab" data-bs-target="#elever" type="button" role="tab"
      aria-controls="elever" aria-selected="false">Elever</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="kriterier-tab" data-bs-toggle="tab" data-bs-target="#kriterier" type="button" role="tab"
      aria-controls="kriterier" aria-selected="false">Kriterier</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="resultat-tab" data-bs-toggle="tab" data-bs-target="#resultat" type="button" role="tab"
      aria-controls="resultat" aria-selected="false">Resultat</button>
  </li>
  <li class="nav-item" style="margin-left: auto;" role="presentation">
    <a class="nav-link" href="{% url 'assignments' %}">Tildelingsoversigt</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="{% url 'index' %}">Logud</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="tildeling" role="tabpanel" aria-labelledby="tildeling-tab">
    Status for tildeling her
  </div>

  <div class="tab-pane fade" id="valgfag" role="tabpanel" aria-labelledby="valgfag-tab">
    {% for course in courses %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="col-3">Course</th>
          <th scope="col" class="col-3">Valgfag</th>
          <th scope="col" class="col-3">Description</th>
          <th scope="col" class="col-3">Beskrivelse</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>{{ course.name_en }}</td>
          <td>{{ course.name_da }}</td>
          <td>{{ course.description_en }}</td>
          <td>{{ course.description_da }}</td>
        </tr>
      </tbody>
    </table>
      {% endfor %}
  </div>
  <div class="tab-pane fade" id="elever" role="tabpanel" aria-labelledby="elever-tab">
    <ul>
    {% for student in students %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="col-3">Navn</th>
          <th scope="col" class="col-3">Email</th>
          <th scope="col" class="col-3">Efterspurgte Kurser</th>
          <th scope="col" class="col-3">Tildelte Kurser</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>{{ student.first_name }}</td>
          <td>({{ student.email_address }})</td>
          <td>{% for student_course_request in student_course_requests %}
            {% if student_course_request.student == student %}
               {{ student_course_request.priority }}: 
               {{ student_course_request.course }}
            {% endif %}
            {% endfor %}</td>
          <td>{% for student_course_assignment in student_course_assignments %}
            {% if student_course_assignment.student == student %}
              {{ student_course_assignment.course }}
            {% endif %}
          {% endfor %}</td>
        </tr>
      </tbody>
    </table>

      {% comment %}
      This seems pretty messy, but without ajax we need to go through this list from here.
      {% endcomment %}

      {% empty %}
      Der er ikke tilføjet elever til tildelingen.
    {% endfor %}
    </ul>
  </div>

  <div class="tab-pane fade" id="kriterier" role="tabpanel" aria-labelledby="kriterier-tab">
    Kriterier her
  </div>

  <div class="tab-pane fade" id="resultat" role="tabpanel" aria-labelledby="resultat-tab">
    Resultat her
  </div>

</div>





<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="create_assignment" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

{% endblock %}
