{% extends 'base_with_general_nav.html' %}
{% load custom_tags %}

{% block content %}

{% comment %} https://getbootstrap.com/docs/5.0/components/accordion/  {% endcomment %}
<div id="opret_t">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Opret ny Tildeling</button>
</div>

<div class="accordion card-body" id="accordionExample">

  {% for assignment, progress in object_list|zip:progresses %}

  <div class="accordion-item col-lg-11 mx-auto">
    <h2 class="accordion-header" id="headingOne">
      {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an<id> below. {% endcomment %}
      <button class="accordion-button {% if forloop.counter0 != 0%} collapsed {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#a{{ assignment.id  }}"
                                                                               aria-expanded="false"
                                                                               aria-controls="a{{ assignment.id }}">
        {{ assignment.name }}
      </button>
    </h2>
    <div id="a{{ assignment.id }}" class="accordion-collapse collapse {% if forloop.counter0 == 0%} show {% endif %}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <!--<p>TODO: Status for om elever, kurser, kriterier osv. er oprettet, som progress bar</p>-->
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{progress}}%;"
                                                       aria-valuenow="{{progress}}"
                                                                                     aria-valuemin="0"
                                                                                     aria-valuemax="100">{{progress}}%</div>
        </div>
        <br/>
        <p style="text-align: center;"><a class="btn btn-primary" href="{% url 'assignment' assignment.id %}">Gå til tildeling</a></p>
      </div>
    </div>
  </div>

  {% endfor %}

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Opret tildeling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Navn på Tildeling:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Angiv navnet på tildeling">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
        <button type="button" class="btn btn-primary">Gem tildeling</button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
