{% load static %}   
  <div class="tab-pane fade" id="valgfag" role="tabpanel" aria-labelledby="valgfag-tab">

    <div class="accordion card-body" id="accordion-courses">

      {% for course in courses %}

      <div class="accordion-item col-lg-11 mx-auto">
        <h2 class="accordion-header" id="courses-header">
          {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an<id> below. {% endcomment %}
          <button class="accordion-button {% if forloop.counter0 != 0%} collapsed {% endif %}"
                  type="button" data-bs-toggle="collapse" data-bs-target="#a{{ course.id  }}"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="a{{ course.id }}">
            {{ course.name }}
          </button>
        </h2>
        <div id="a{{ course.id }}" class="accordion-collapse collapse {% if forloop.counter0 == 0%} show {% endif %}"
          aria-labelledby="courses-header" data-bs-parent="#accordion-courses">
          <div class="accordion-body">
              <ul class="list-group">
                <li class="list-group-item">
                  {{ course.teacher }}
                  'Empty'
                  <a href=""  id="icon_edit_res" ><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/pencil.svg' %}" alt="Bootstrap" width="20" height="20"></a>
                  <a href=""  id="icon_del_res" ><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/trash.svg' %}" alt="Bootstrap" width="20" height="20"></a>
              </li>
              <li class="list-group-item">
                {{ course.description }}
                <a href=""  id="icon_edit_res" ><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/pencil.svg' %}" alt="Bootstrap" width="20" height="20"></a>
                <a href=""  id="icon_del_res" ><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/trash.svg' %}" alt="Bootstrap" width="20" height="20"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
