{% load static %}   
  <div class="tab-pane fade" id="valgfag" role="tabpanel" aria-labelledby="valgfag-tab">

    <div class="accordion card-body" id="accordion-courses">

      {% for course in courses %}

      <div class="accordion-item col-lg-11 mx-auto">
        <h2 class="accordion-header" id="courses-header">
          {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an<id> below. {% endcomment %}
          <button class="accordion-button {% if forloop.counter0 != 0%} collapsed {% endif %}"
                  type="button" data-bs-toggle="collapse" data-bs-target="#a{{ course.id  }}"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="a{{ course.id }}">
            {{ course.name }}
            <a href="" class="icon_edit_cour icon_absolute"><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/pencil.svg' %}" alt="Bootstrap" width="20" height="20"></a>
            <a href="" class="icon_del_cour icon_absolute"><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/trash.svg' %}" alt="Bootstrap" width="20" height="20"></a>
          </button>

        </h2>
        <div id="a{{ course.id }}" class="accordion-collapse collapse {% if forloop.counter0 == 0%} show {% endif %}"
          aria-labelledby="courses-header" data-bs-parent="#accordion-courses">
          <div class="accordion-body">
              <p>
                  Lærere: 
                  {% for teacher in teachers %}
                  {% comment %} if the current course is a course the teacher teaches {% endcomment %}
                    {% if course in teacher.courses.all %}
                    {{ teacher.full_name }} 
                    {% endif %}
                  {% endfor %}
              </p>
              <p>
                {{ course.description }}                
              </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
