{% load static %}
{% load crispy_forms_tags %}
<div class="tab-pane fade" id="valgfag" role="tabpanel" aria-labelledby="valgfag-tab">

    <div class="page-button">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCourseModal">Opret
            Fag
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teacherModal">Opret
            Underviser
        </button>
    </div>

    <div class="accordion card-body" id="accordion-courses">

        {% for course in courses %}

        <div class="accordion-item col-lg-11 mx-auto">
            <h2 class="accordion-header" id="courses-header">
                <button class="icon_edit_cour icon_absolute" data-bs-toggle="modal"
                        data-bs-target="#editCourseModal{{course.id}}"><img
                        src="{% static 'libs/node/node_modules/bootstrap-icons/icons/pencil-square.svg' %}"
                        alt="Bootstrap" width="20" height="20"></button>
                <button class="icon_del_cour icon_absolute" data-bs-toggle="modal"
                        data-bs-target="#deleteCourseModal{{course.id}}"><img
                        src="{% static 'libs/node/node_modules/bootstrap-icons/icons/pencil-square.svg' %}"
                        alt="Bootstrap" width="20" height="20"></button>
                {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an
                <id> below. {% endcomment %}
                    <button class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#a{{ course.id  }}"
                            aria-expanded="false"
                            aria-controls="a{{ course.id }}">
                        {{ course.name }}
                    </button>

            </h2>
            <div id="a{{ course.id }}" class="accordion-collapse collapse"
                 aria-labelledby="courses-header" data-bs-parent="#accordion-courses">
                <div class="accordion-body">
                    <p>
                        Undervisere:
                        {% for teacher in course.teachers.all %}
                        {{ teacher.full_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        {{ course.description }}
                    </p>
                </div>
            </div>
        </div>


        <!-- Edit Course Modal -->
        <div class="modal fade" id="editCourseModal{{course.id}}" tabindex="-1" aria-labelledby="editCourseModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editCourseModalLabel">Rediger {{course}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" accept-charset="utf-8">

                        {% csrf_token %}

                        <div class="modal-body">
                            {{courseForm|crispy}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                            <input type="submit" value="Gem Redigeringer" name="edit-course" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Delete Course Modal -->
        <div class="modal fade" id="deleteCourseModal{{course.id}}" tabindex="-1"
             aria-labelledby="deleteCourseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteCourseModalLabel">Slet {{course}}
                            <h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                    </div>
                    <form method="post" accept-charset="utf-8">
                        <div class="modal-body">
                            Er du sikker?
                            {% csrf_token %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                            <input type="hidden" name="courseid" value="{{course.id}}">
                            <input type="submit" value="Slet fag" name="delete-course" class="btn btn-danger">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        {% endfor %}

        <!-- Add Course Modal -->
        <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCourseModalLabel">Opret Fag</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form method="post" accept-charset="utf-8">

                        {% csrf_token %}

                        <div class="modal-body">
                            {{ courseForm|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                            <input type="submit" value="Gem Fag" name="add-course" class="btn btn-primary">
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Teacher Modal -->
        <div class="modal fade" id="teacherModal" tabindex="-1" aria-labelledby="teacherModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="teacherModalLabel">Håndter Undervisere</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form method="post" accept-charset="utf-8">

                        {% csrf_token %}

                        <div class="modal-body">
                            {% for teacher in teachers %}
                            <li>{{ teacher.full_name }}</li>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                            <input type="submit" value="Gem Underviser" name="add-teacher" class="btn btn-primary">
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Add Teacher Modal -->
        <div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTeacherModalLabel">Opret Underviser</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form method="post" accept-charset="utf-8">

                        {% csrf_token %}

                        <div class="modal-body">
                            {{ teacherForm|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                            <input type="submit" value="Gem Underviser" name="add-teacher" class="btn btn-primary">
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>
</div>
