{% load static %}

  {% comment %} 
  Måske burde hver elev ikke have egen table header og istedet være en fælles 
  header? 
  {% endcomment %}
  <div class="tab-pane fade" id="elever" role="tabpanel" aria-labelledby="elever-tab">

    <div class="container-fluid">
    <div class="row">

    <div class="accordion card-body col-lg-5" id="accordion-students">
    {% for student in students %}
      {% if forloop.counter0|divisibleby:2 %}

      <div class="accordion-item">
        <h2 class="accordion-header" id="students-header">
          {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an<id> below. {% endcomment %}
          <button class="accordion-button {% if forloop.counter0 != 0%} collapsed {% endif %}"
                  type="button" data-bs-toggle="collapse" data-bs-target="#a{{ student.id  }}"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="a{{ student.id }}">
            {{ student.first_name }}<br/>
            {{ student.email_address }}
            <a href="" class="icon_del" ><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/pencil.svg' %}" alt="Bootstrap" width="20" height="20"></a>
            <a href="" class="icon_del"><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/trash.svg' %}" alt="Bootstrap" width="20" height="20"></a>
          </button>
        </h2>
        <div id="a{{ student.id }}" class="accordion-collapse collapse {% if forloop.counter0 == 0 %} show {% endif %}"
          aria-labelledby="students-header" data-bs-parent="#accordion-students">
          <div class="accordion-body">
            <div class="container-fluid student-course-list">
            <div class="row">
            <ol class="list-group col-lg-6">
              <li class="list-group-item"><h5>Prioritet</h5></li>
              {% for student_course_request in student_course_requests %}
              {% if student_course_request.student == student %}
              <li class="list-group-item">
                   {{ student_course_request.course }}
              </li>
              {% endif %}
              {% endfor %}
            </ol>
            <ul class="col-lg-6">
              <li class="list-group-item"><h5>Tildelt</h5></li>
              {% for student_course_assignment in student_course_assignments %}
              {% if student_course_assignment.student == student %}
              <li class="list-group-item">
                  {{ student_course_assignment.course }}
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% endfor %}
      </div>

    <div class="accordion card-body col-lg-5" id="accordion-students">
    {% for student in students %}
      {% if not forloop.counter0|divisibleby:2 %}

      <div class="accordion-item">
        <h2 class="accordion-header" id="students-header">
          {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an<id> below. {% endcomment %}
          <button class="accordion-button {% if forloop.counter0 != 0%} collapsed {% endif %}"
                  type="button" data-bs-toggle="collapse" data-bs-target="#a{{ student.id  }}"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="a{{ student.id }}">
            {{ student.first_name }}<br/>
            {{ student.email_address }}
            <a href="" class="icon_del" ><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/pencil.svg' %}" alt="Bootstrap" width="20" height="20"></a>
            <a href="" class="icon_del"><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/trash.svg' %}" alt="Bootstrap" width="20" height="20"></a>
          </button>
        </h2>
        <div id="a{{ student.id }}" class="accordion-collapse collapse {% if forloop.counter0 == 0 %} show {% endif %}"
          aria-labelledby="students-header" data-bs-parent="#accordion-students">
          <div class="accordion-body">
            <div class="container-fluid student-course-list">
            <div class="row">
            <ol class="list-group col-lg-6">
              <li class="list-group-item"><h5>Prioritet</h5></li>
              {% for student_course_request in student_course_requests %}
              {% if student_course_request.student == student %}
              <li class="list-group-item">
                   {{ student_course_request.course }}
              </li>
              {% endif %}
              {% endfor %}
            </ol>
            <ul class="col-lg-6">
              <li class="list-group-item"><h5>Tildelt</h5></li>
              {% for student_course_assignment in student_course_assignments %}
              {% if student_course_assignment.student == student %}
              <li class="list-group-item">
                  {{ student_course_assignment.course }}
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% endfor %}
      </div>
    </div>
  </div>
</div>

