  {% comment %} 
  Måske burde hver elev ikke have egen table header og istedet være en fælles 
  header? 
  {% endcomment %}
  <div class="tab-pane fade" id="elever" role="tabpanel" aria-labelledby="elever-tab">

    <div class="accordion card-body" id="accordion-students">

      {% for student in students %}

      <div class="accordion-item col-lg-11 mx-auto">
        <h2 class="accordion-header" id="students-header">
          {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an<id> below. {% endcomment %}
          <button class="accordion-button bg-secondary text-white {% if forloop.counter0 != 0%} collapsed {% endif %}"
                  type="button" data-bs-toggle="collapse" data-bs-target="#a{{ student.id  }}"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="a{{ student.id }}">
            {{ student.first_name }} {{ student.email_address }}
          </button>
        </h2>
        <div id="a{{ student.id }}" class="accordion-collapse collapse {% if forloop.counter0 == 0%} show {% endif %}"
          aria-labelledby="students-header" data-bs-parent="#accordion-students">
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">
                <td>{% for student_course_request in student_course_requests %}
                  {% if student_course_request.student == student %}
                     {{ student_course_request.priority }}: 
                     {{ student_course_request.course }}
                  {% endif %}
                  {% endfor %}</td>
            </li>
              <li class="list-group-item">
                <td>
                {% for student_course_assignment in student_course_assignments %}
                {% if student_course_assignment.student == student %}
                  {{ student_course_assignment.course }}
                {% endif %}
              {% endfor %}</td>
            </li>
          </ul>
            
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

