{% load static %}
{% load crispy_forms_tags %}

  {% comment %} 
  Måske burde hver elev ikke have egen table header og istedet være en fælles 
  header? 
  {% endcomment %}
  <div class="tab-pane fade" id="elever" role="tabpanel" aria-labelledby="elever-tab">

    <div class="opret_t">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#importStudentModal">Importer Elever</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStudentModal">Opret Elev</button>
    </div>

    <div class="container-fluid">
    <div class="row">

    <div class="accordion card-body col-lg-5" id="accordion-students">
    {% for student in students %}

      <div class="accordion-item">
        <h2 class="accordion-header" id="students-header">
          {% comment %} A CSS class name seemingly cannot start with a number? Therefore I write an<id> below. {% endcomment %}
          <button class="accordion-button {% if forloop.counter0 != 0%} collapsed {% endif %}"
                  type="button" data-bs-toggle="collapse" data-bs-target="#a{{ student.id  }}"
                                                                                   aria-expanded="false"
                                                                                   aria-controls="a{{ student.id }}">
            {{ student.first_name }}<br/>
            {{ student.email_address }}
            <button class="icon_edit_stud icon_absolute" data-bs-toggle="modal" data-bs-target="#editStudentModal{{student.id}}"><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/pencil.svg' %}" alt="Bootstrap" width="20" height="20"></button>
            <button class="icon_del_stud icon_absolute" data-bs-toggle="modal" data-bs-target="#deleteStudentModal{{student.id}}"><img src="{% static 'libs/node/node_modules/bootstrap-icons/icons/trash.svg' %}" alt="Bootstrap" width="20" height="20"></button>
          </button>
        </h2>
        <div id="a{{ student.id }}" class="accordion-collapse collapse {% if forloop.counter0 == 0 %} show {% endif %}"
          aria-labelledby="students-header" data-bs-parent="#accordion-students">
          <div class="accordion-body">
            <div class="container-fluid student-course-list">
            <div class="row">
            <ol class="list-group col-lg-6">
              <li class="list-group-item"><h5>Prioritet</h5></li>
              {% for student_course_request in student_course_requests %}
              {% if student_course_request.student == student %}
              <li class="list-group-item">
                   {{ student_course_request.course }}
              </li>
              {% endif %}
              {% endfor %}
            </ol>
            <ul class="col-lg-6">
              <li class="list-group-item"><h5>Tildelt</h5></li>
              {% for student_course_assignment in student_course_assignments %}
              {% if student_course_assignment.student == student %}
              <li class="list-group-item">
                  {{ student_course_assignment.course }}
              </li>
              {% endif %}
              
                            <!-- Edit Student Modal -->
              <div class="modal fade" id="editStudentModal{{student.id}}" tabindex="-1" aria-labelledby="editStudentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editStudentModalLabel">Rediger {{student}}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form method="post" accept-charset="utf-8">

                      {% csrf_token %}

                      <div class="modal-body">
                        {{studentForm|crispy}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                        <input type="submit" value="Gem Redigeringer" name="edit-student" class="btn btn-primary">
                      </div>
                    </form>

                  </div>
                </div>
              </div>

              <!-- Delete Student Popup-ish -->
              <div class="modal fade" id="deleteStudentModal{{student.id}}" tabindex="-1" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteStudentModalLabel">Slet {{student}}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" accept-charset="utf-8">
                      {% csrf_token %}
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                        <input type="hidden" name="studentid" value="{{student.id}}">
                        <input type="submit" value="Slet student" name="delete-student" class="btn btn-danger">  
                      </div> 
                    </form>
                  </div>
                </div>
              </div>

              {% endfor %}
            </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    

      {% endfor %}
      </div>
    </div>
  </div>
</div>



<!-- Add Student Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStudentModalLabel">Opret Elev</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="post" accept-charset="utf-8">

        {% csrf_token %}

        <div class="modal-body">
          {{studentForm|crispy}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
          <input type="submit" value="Gem Studerende" name="add-student" class="btn btn-primary">
        </div>
      </form>

    </div>
  </div>
</div>


<!-- Import Student Modal -->
<div class="modal fade" id="importStudentModal" tabindex="-1" aria-labelledby="importStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importStudentModalLabel">Importer Elever</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="post" accept-charset="utf-8">

        {% csrf_token %}

        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
          <input type="submit" value="Gem Studerende" name="import-student" class="btn btn-primary">
        </div>
      </form>

    </div>
  </div>
</div>

