#submit-btn { 
  font-size: small;
  margin-bottom: 2%;
}

#sign-up, #forgot-password {
  color:steelblue;
  margin-bottom: 2%;
}

.container {
  margin-top: 10%;
}

#opret_t {
  position:relative;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 1%;
  left: 50%;
  margin-right: -50%;
}