#submit-btn { 
  font-size: small;
  margin-bottom: 2%;
}

#sign-up, #forgot-password {
  color:steelblue;
  margin-bottom: 2%;
}

.container {
  margin-top: 10%;
}

#opret_t {
  position: relative;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 1%;
  left: 50%;
  margin-right: -50%;
}

#addon-form {
  padding-top: 5%;
}

#login-title {
  padding-bottom: 3%;
}

#r-password {
  padding-top: 2%;
  color: #333333;
}

.student-course-list li {
  border: 0;
}

.student-course-list ol li:not:first-child {
  list-style-type: decimal!important;
}
#accordion-courses {
  padding-top: 3%;
}

#accordion-students {
  padding-top: 3%;
}

#accordion-criteria {
  padding-top: 3%;
}

#student-distribution {
  padding-top: 3%;
}

#edit-btn {
  width: 12px;
  height: 12px;
}

.icon {
  position: absolute; 
}

#icon_edit {
    right: 2%;
}

#icon_del {
    right: 2%;
}

#icon_edit_crit {
    right: 18%;
}

#icon_del_crit {
    right: 12%;
}


#icon_edit_res {
    right: 6%;
}

#icon_del_res {
    right: 4%;
}

#icon_edit_cou {
  right: 6%;
}

.icon_absolute {
  position: absolute;
}

.icon_right_ {
  right: 4%;
}

#status li {
  padding: 25px; 
}
