#submit-btn { 
  font-size: small;
  margin-bottom: 2%;
}

#sign-up, #forgot-password {
  color:steelblue;
  margin-bottom: 2%;
}

.container {
  margin-top: 10%;
}

.opret_t {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
}

#addon-form {
  padding-top: 5%;
}

#login-title {
  padding-bottom: 3%;
}

#r-password {
  padding-top: 2%;
  color: #333333;
}

.student-course-list li {
  border: 0;
}

.student-course-list ol li:not:first-child {
  list-style-type: decimal!important;
}
#accordion-courses {
  padding-top: 3%;
}

#accordion-students {
  padding-top: 3%;
}

#accordion-criteria {
  padding-top: 3%;
}

#student-distribution {
  padding-top: 3%;
}

#edit-btn {
  width: 12px;
  height: 12px;
}

.icon_edit_stud {
    right: 10%;
}

.icon_del_stud {
    right: 8%;
}

.icon_edit_crit {
    right: 19%;
}

.icon_del_crit {
    right: 12%;
}

.icon_edit_res {
    right: 5%;
}

.icon_del_res {
    right: 3%;
}

.icon_edit_cour {
  right: 10%;
}

.icon_del_cour {
  right: 8%;
}

.icon_absolute {
  display:inline-block;
  position: absolute;
  border: none;
  background: transparent;
  opacity: 0.55;
  z-index: 4;
}

#status li {
  padding: 25px; 
}

.margin_top {
  margin-top: 3%;
}
